// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section {
  margin: 20px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.album {
  width: 180px;
  height: 200px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.album-info {
  text-align: center;
}

.album-img:hover {
  opacity: 0.5;
}

#history-list {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.history-item > div {
  float: left;
  margin-right: 20px;
}

.history-item > div.history-title {
  width: 180px;
}

.history-item > div.history-count {
  width: 80px;
  text-align: right;
}
