// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section {
  margin: 40px;
}

.section > div {
  margin-left: 20px;
  margin-right: 20px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.album {
  width: 260px;
  height: 260px;
  float: left;
  margin: 20px;
}

.album-info {
  text-align: center;
}

.album-img {
  width: 240px;
  height: 240px;
}

.album-img:hover {
  opacity: 0.5;
}

.history-item > div {
  float: left;
}

.history-item > div:first-child {
  margin-right: 20px;
}

.history-item > div.history-title {
  width: 180px;
}

.history-item > div.history-count {
  width: 80px;
  text-align: right;
}
